{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "Create a flag condition" as flags_str %}{% endblock %}

{% block content %}
    {% trans "Create a flag condition" as flags_str %}
    {% include "wagtailadmin/shared/header.html" with title=flags_str icon="tag" %}

    <h2 class="nice-padding">New flag condition:</h2>
    <form class="nice-padding" method="POST" action="{% url 'flagadmin:create' %}">
        {% csrf_token %}
        <ul class="fields">
            <li class="actions">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="help-block help-critical" style="margin-top:0;">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    <label>{{ field.label }}</label>
                    <div class="field-content">
                        <div class="input">
                            {{ field }}
                            <span></span>
                        </div>
                        <p class="help"></p>
                    </div>
                {% endfor %}
            </li>
            <li class="actions">
                <input class="button action-save button-longrunning" type="submit" value="Save new condition" />
                <a class="button bicolor icon icon-cog" href="{% url 'flagadmin:list' %}">Back to flag conditions…</a>
            </li>
        </ul>
    </form>
{% endblock %}
