{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load gravatar %}
{% block titletag %}{% trans "Flags" %}{% endblock %}

{% block content %}
    {% trans "Flags" as flags_str %}
    {% trans "Add a flag" as add_a_flag_str %}

    {% include "wagtailadmin/shared/header.html" with title=flags_str icon="tag" %}

    <div class="nice-padding">
        {% if flags|length == 0 %}
        <p>No flags have been defined.</p>
        {% else %}
        <h2>Configured Flag Conditions</h2>

        <table class="listing">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Condition</th>
                    <th></th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
              {% for flag in flags.values %}
                  {% for condition, fn, value in flag.configured_conditions %}
                  <tr>
                      <td>
                        <b>{{ flag.name }}</b>
                      </td>
                      <td>is enabled when</td>
                      <td>
                        <b>{{ condition }}</b>
                      </td>
                      <td>is</td>
                      <td>
                        <b>{{ value }}</b>
                      </td>
                  </tr>
                  {% endfor %}
              {% endfor %}
            </tbody>
        </table>

        <h2>Custom Flag Conditions</h2>

        <table class="listing">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Condition</th>
                    <th></th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for state in flag_states %}
                <tr>
                    <td>
                      <b>{{ state.name }}</b>
                      {% if state.name not in flags.keys %}
                      <span title="flag not configured" style="color: #e9b04d; font-family: wagtail;">!</span>
                      {% endif %}
                    </td>
                      <td>is enabled when</td>
                    <td>
                      <b>{{ state.condition }}</b>
                    </td>
                    <td>is</td>
                    <td>
                      <b>{{ state.value }}</b>
                    </td>
                    <td>
                      <a  href="{% url 'flagadmin:delete' state.pk %}" class="button icon text-replace hover-no icon-bin">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'flagadmin:create' %}" class="button bicolor icon icon-plus">Add a condition</a>

        {% endif %}
    </div>

{% endblock %}
