name: test

on: [pull_request, push]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run tox -e lint
        run: tox
        env:
          TOXENV: lint

  test:
    name: unittests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - python: "3.10"
            django: "4.2"
          - python: "3.13"
            django: "4.2"
          - python: "3.12"
            django: "5.2"
          - python: "3.13"
            django: "5.2"
          - python: "3.12"
            django: "6.0"
          - python: "3.13"
            django: "6.0"

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run tox
        run: |
          tox
        env:
          TOXENV: python${{ matrix.python }}-django${{ matrix.django }}

      - name: Store test coverage
        uses: actions/upload-artifact@v5
        with:
          name: coverage-${{ matrix.python }}-${{ matrix.django }}
          include-hidden-files: true
          path: .coverage.*

  coverage:
    name: coverage
    runs-on: ubuntu-latest
    needs:
      - test

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Retrieve test coverage
        uses: actions/download-artifact@v6
        with:
          merge-multiple: true

      - name: Check coverage
        run: tox -e coverage
